################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/StrataShoppingLib/obj/Debug
/StrataShoppingLib.UnitTest/bin/Debug
/StrataShoppingLib.UnitTest/obj/Debug
/StrataShoppingLib/docs
/StrataShoppingLib/bin/Debug
/StrataShoppingLib/Migrations
